<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sales_person %>
    <%= form.text_field :sales_person %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.text_field :sale_price %>
  </div>

  <div class="field">
   <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, Employee.all, :id, :combinedemployeename%>   
  </div>
  
  <div class="field">
   <%= form.label :car_id %>
    <%= form.collection_select :car_id, Car.all, :id, :combinedcarname%>   
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
