<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Sales person</th>
      <th>Vin</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Sale price</th>
      <th>Employee</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.sales_person %></td>
        <td><%= quote.vin %></td>
        <td><%= quote.make %></td>
        <td><%= quote.model %></td>
        <td><%= quote.color %></td>
        <td><%= number_to_currency(quote.sale_price) %></td>
        <td><%= quote.employee.employee_first_name %>
		<%= quote.employee.employee_last_name %>
        
        <td><%= quote.car.model %>
		<%= quote.car.make %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	  
	  
	     <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
