
<p>
  <strong>Sales person:</strong>
  <%= @quote.sales_person %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @quote.vin %>
</p>

<p>
  <strong>Make:</strong>
  <%= @quote.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @quote.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @quote.color %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @quote.sale_price %>
</p>
<p>
  <strong>Employee:</strong>
  <%= @quote.employee.employee_first_name %>
    <%= @quote.employee.employee_last_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.model %>
  <%= @quote.car.make %>

</p>
<p><%= link_to "Generate Quote(PDF)", quote_path(:quote_id =>@id, :format => 'pdf', popup:true) %></p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
