<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_first_name %>
    <%= form.text_field :employee_first_name %>
  </div>

  <div class="field">
    <%= form.label :employee_last_name %>
    <%= form.text_field :employee_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.collection_select :role_id, Role.all,:id,:role %>
      <br/>
    <p> Description: <span id ="descriptions"></span></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
