
<p>
  <strong>Employee first name:</strong>
  <%= @employee.employee_first_name %>
</p>

<p>
  <strong>Employee last name:</strong>
  <%= @employee.employee_last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role.role %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
