<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sales_person %>
    <%= form.text_field :sales_person %>
  </div>

  <div class="field">
    <%= form.label :customer_first_name %>
    <%= form.text_field :customer_first_name %>
  </div>

  <div class="field">
    <%= form.label :customer_last_name %>
    <%= form.text_field :customer_last_name %>
  </div>

  <div class="field">
    <%= form.label      :loan_amount %>
    <%= form.text_field :loan_amount %>
  </div>

  <div class="field">
    <%= form.label :principal %>
    <%= form.text_field :principal %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.text_field :interest_rate %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  
   <div class="field">
    <%= form.label :* %>
    <%= form.text_field :* %>
  </div>

  <div class="field">
   <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :combinedcustomername%>   
  </div>

  <div class="field">
   <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, Employee.all, :id, :combinedemployeename%>   
  </div>
  
  <div class="field">
   <%= form.label :car_id %>
    <%= form.collection_select :car_id, Car.all, :id, :combinedcarname%>   
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
