<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Sales person</th>
      <th>Customer first name</th>
      <th>Customer last name</th>
      <th>Loan amount</th>
      <th>Principal</th>
      <th>Interest rate</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Customer</th>
      <th>Employee</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.sales_person %></td>
        <td><%= loan.customer_first_name %></td>
        <td><%= loan.customer_last_name %></td>
        <td><%= number_to_currency(loan.loan_amount) %></td>
        <td><%= number_to_currency(loan.principal) %></td>
        <td><%= number_to_percentage(loan.interest_rate) %></td>
        <td><%= loan.year %></td>
        <td><%= loan.make %></td>
        <td><%= loan.model %></td>
        <td><%= loan.color %></td>
        <td><%= loan.customer_first_name %>
		<%= loan.customer_last_name %></td>

        <td><%= loan.employee.employee_first_name %>
		<%= loan.employee.employee_last_name %></td>
		
          <td><%= loan.car.model %>
		  <%= loan.car.make %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
