

<p>
  <strong>Sales person:</strong>
  <%= @loan.sales_person %>
</p>

<p>
  <strong>Customer first name:</strong>
  <%= @loan.customer_first_name %>
</p>

<p>
  <strong>Customer last name:</strong>
  <%= @loan.customer_last_name %>
</p>

<p>
  <strong>Loan amount:</strong>
  <%= @loan.loan_amount %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @loan.principal %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>

<p>
  <strong>Year:</strong>
  <%= @loan.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @loan.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @loan.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @loan.color %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @loan.customer.first_name %>
  <%= @loan.customer.last_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @loan.employee.employee_first_name %>
    <%= @loan.employee.employee_last_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @loan.car.make %>
   <%= @loan.car.model %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
