
<p>
  <strong>Role:</strong>
  <%= @role.role %>
</p>

<p>
  <strong>Description:</strong>
  
 <span id ="descriptions"></span>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
