<!DOCTYPE html>
<html>
<head>
<center><h1> Customer Quote </center></h1>
<title>Customer Quote</title>
  <%= wicked_pdf_stylesheet_link_tag "quotes" -%>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>